@import 'src/variables';

.name {
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid $smoky-white;
    cursor: pointer;

    &:hover {
        background-color: $smoky-white;
    }
}

.nameActive {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: black;
    border-bottom: 1px solid $gray;
    cursor: pointer;

    .chevron {
        filter: invert(1);
    }

    .count {
        color: white;
    }
}

.chevron {
    margin-left: auto;
}

.item {
    position: relative;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    padding: 0 15px;
    font-size: 15px;
    border-bottom: 1px solid $smoky-white;
    cursor: pointer;

    &:hover {
        background-color: $smoky-white;
    }
}
