.topSection {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.label {
    margin-bottom: 10px;
    font-size: 20px;
}

.button {
    width: 150px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.count {
    margin-top: 10px;
    font-size: 14px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.emptyComments {
    margin-top: 15px;
}
