@import 'src/variables';

.item {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid $smoky-white;
    cursor: pointer;
}

.counter {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 18px;
    height: 18px;
    font-size: 8px;
    color: white;
    background-color: black;
    border-radius: 50%;
}
