@import 'src/variables';

.title {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: $smoky-white;
    border-bottom: 1px solid $smoky-white;
    cursor: pointer;
}
