@import '../../../variables';

.product {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100%;
    border: 1px solid $light-gray;
    border-radius: 5px;
}

.image {
    width: 80%;
    height: 80%;
    margin: 20px auto 0;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
        filter: brightness(0);
    }
}

.iconSection {
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 5px;
    top: 10px;
    left: 10px;
}

.novelty {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 25px;
    font-size: 15px;
    background-color: #f7a399;
}

.sale {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 25px;
    font-size: 15px;
    background-color: #caf0f8;
}

.content {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
    padding: 15px;
}

.name {
    height: 42px;
    margin: 5px 0;
    font-weight: 700;
    font-size: 17px;
}

.type {
    margin-bottom: 20px;
    font-size: 12px;
}

.price {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 17px;
}

.amountText {
    margin-bottom: 5px;
    font-size: 12px;
}

.offer {
    display: flex;
    height: 55px;
}

.cartButton {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
