@import 'src/variables';

.product {
    width: 100%;
}

.name {
    margin-bottom: 10px;
    font-size: 28px;
}

.bar {
    align-items: center;
    display: flex;
    gap: 15px;
    font-size: 15px;
}

.wishlist {
    align-items: center;
    display: flex;
    gap: 5px;
}

.description {
    margin-top: 30px;
}

.descriptionLabel {
    margin-bottom: 20px;
    font-size: 20px;
}

.descriptionText {
    margin-bottom: 30px;
    font-size: 14px;
}
