@import "src/variables";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 -2px 6px 2px rgba(0, 0, 0, 0.06);

  @media screen and (max-width: $tablet) {
    background-color: black;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 62px;
}

.sectionLeft {
  align-items: center;
  grid-column-gap: 15px;
  grid-template-columns: 24px auto;
  display: grid;
  padding: 6px;
}

.headerActions {
  align-items: center;
  display: flex;
  gap: 15px;
  padding-right: 6px;
}

.menuIcon {
  width: 24px;
  padding-right: 40px;
  fill: black;

  @media screen and (max-width: $tablet) {
    filter: invert(1);
  }
}

.label {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.call {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  width: 150px;
  height: 40px;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.numberBlock {
  align-items: center;
  display: flex;
}

.number {
  font-weight: 700;
  font-size: 14px;
}

.chevron {
  display: flex;
  width: 8px;
  height: 4px;
  margin: 0 8px 0 6px;
}

.callText {
  font-size: 8px;
  letter-spacing: 0.8px;
}

.logo {
  width: 162px;
  margin-right: 22px;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.headerAction {
  flex-direction: row;
  align-items: center;
  display: flex;
  &.likeBlock {
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}

.count {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 18px;
  height: 17px;
  font-size: 8px;
  color: white;
  background-color: black;
  border-radius: 100%;

  @media screen and (max-width: $tablet) {
    color: black;
    background-color: white;
  }
}

.icon {
  cursor: pointer;
  &:hover {
    filter: brightness(2);
  }
}
