.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    max-width: 1076px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fff;
    border-bottom: 1px black;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}

.logo {
    width: 136px;
    height: 24px;
    padding-right: 30px;
}

.search {
    display: flex;
    align-items: center;
    width: 230px;
    height: 32px;
    background-color: #edeef0;
    border-radius: 7px;
}

.search_icon {
    width: 14px;
    height: 14px;
    margin: 0 10px;
}

.search_text {
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, serif;
    color: #818c99;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.chevron_down {
    width: 8px;
    height: 4px;
    margin: 0 8px 0 6px;
}
