.counter {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #f8f8f8;
}

.countButton {
    padding: 0;
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
