@import 'src/variables';

.aboutCompany {
    display: flex;
    padding: 0 15px;
    margin: 30px 0;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }
}

.content {
    flex-direction: column;
    display: flex;
}

.title {
    margin-bottom: 15px;
    font-size: 25px;
}

.companyButton {
    font-size: 10px;
    color: $gray;
    text-decoration: none;
    margin-bottom: 20px;

    &:hover {
        color: black;
    }
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    font-size: 14px;
    color: $gray;
}

.logo {
    width: 40%;

    @media screen and (max-width: $mobile) {
        width: 100%;
        margin-top: 20px;
    }
}
