@import 'src/variables';

.comment {
    height: 100%;
    min-height: 60px;
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 5px;
}

.topSection {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.date {
    margin-right: auto;
    font-size: 12px;
}

.text {
    font-size: 14px;
    word-wrap: break-word;
}
