.button {
    height: 40px;
    padding: 0 50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
